<div class="par-sidenavRight" layout="row" ng-controller="core_SidenavrightCtrl as sidenavright">
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenavRight" md-is-locked-open="sidenavright.service.visible" md-swipe-right="sidenavright.close()">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools" layout="row">
                <span flex="">Sidenav Right</span>
                <md-button ng-click="sidenavright.close()" class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="navigation:forward"></md-icon>
                </md-button>
            </h1>

        </md-toolbar>
        <md-content layout-padding>
            <form>
                <md-input-container>
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput"
                           ng-model="data" md-autofocus>
                </md-input-container>
            </form>
            <md-button ng-click="sidenavright.close()" class="md-primary">
                Close Sidenav Right
            </md-button>
        </md-content>
    </md-sidenav>

</div>
